<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input
    type="text"
    class="form-control"
    id="title"
    name="title"
    value="<%= blog ? blog.title : '' %>"
    required
  />
</div>
<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <textarea
    class="form-control"
    id="description"
    name="description"
    rows="4"
    required
  >
<%= blog ? blog.description : '' %></textarea
  >
</div>
<div class="form-group">
  <label for="content" class="form-label">Content</label>
  <textarea
    class="form-control"
    id="summernote"
    name="content"
    rows="4"
    required
  >
      <%= blog ? blog.content : '' %>
  </textarea>
</div>
