<div class="mb-4">
  <label for="title" class="block text-sm font-medium text-gray-600"
    >Title</label
  >
  <input
    type="text"
    class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
    id="title"
    name="title"
    value="<%= blog ? blog.title : '' %>"
    required
  />
</div>
<div class="mb-4">
  <label for="description" class="block text-sm font-medium text-gray-600"
    >Description</label
  >
  <textarea
    class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
    id="description"
    name="description"
    rows="4"
    required
  >
<%= blog ? blog.description : '' %></textarea
  >
</div>
<div class="mb-4">
  <label for="content" class="block text-sm font-medium text-gray-600"
    >Content</label
  >
  <textarea
    class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
    id="summernote"
    name="content"
    rows="4"
    required
  >
      <%= blog ? blog.content : '' %>
  </textarea>
</div>
